@use '@/styles/variables' as *;

.link {
  color : $white;
  border-radius: $rounded;
  padding: 2px 4px;  
  width: fit-content;
  display: block;
  
  &:hover {
      opacity: 0.8;
  }
}

.tag {
  color : $white;
  border-radius: $rounded;
  padding: 2px 4px;
  width: fit-content;
}