@use '@/styles/variables' as *;

.link {
  color : $white;
  font-size: $text-xs;
  border-radius: $rounded;
  padding: 2px 4px;
  width: fit-content;
  display: block;
  position: relative;
  z-index: 1;

  &:hover {
      opacity: 0.8;
  }
}

.tag {
  color : $white;
  font-size: $text-xs;
  border-radius: $rounded;
  padding: 2px 4px;
  width: fit-content;
}