@use '@/styles/variables' as *;



.heading2 {
    color: $primary;
    font-size: $text-4xl;
    font-weight: bold;

    @media (max-width: $pc) {
        width: 100%;
    }

    @media (max-width: $mobile) {
        font-size: $text-xl;
    }
}