import React from 'react';
import styles from './index.module.scss';

type Props = {};

export const {{pascalCase name}}Screen: React.FC<Props> = (props) => {
  return (
    <div>
      <h1>{{pascalCase name}}ページです。</h1>
    </div>
  );
};