@use "@/styles/variables" as *;

.link {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;

  &:hover {
    text-decoration: underline;
    opacity: 0.8;
    cursor: pointer;
  }
}

.image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  color: $black;
  font-size: $text-sm;
}

.writer {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
}
