@use "@/styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

.wrapper {
  width: 530px;
  height: 310px;
  background-color: var(--dynamic-bg);
  color: var(--dynamic-text);
  z-index: 0;
  font-family: "Abel", "Zen Kaku Gothic New", sans-serif;
  margin: 0;
  @media (max-width: $mobile) {
    width: 340px;
    height: 500px;
  }
}

.head_line {
  border-bottom: 1px solid;
  background-color: var(--dynamic-bg);
  color: var(--dynamic-text);
  text-decoration: underline;
  margin: 0;
  height: 25px;
}

.context {
  display: flex;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.context_left {
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $mobile) {
    flex-direction: row;
    justify-content: center;
    width: 340px;
    height: 190px;
    gap: 2rem;
  }
}

.context_left_image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  @media (max-width: $mobile) {
    padding: 0;
  }
}

.square {
  width: 120px;
  height: 120px;
  position: absolute;
  background: rgba($color: #f1f1f1, $alpha: 0.2);
  z-index: 1;
  margin: auto;
}

.image_wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 100;
}

.product_image {
  object-fit: contain;
}

.title {
  font-size: large;
  color: var(--dynamic-text);
  position: relative;
  width: 180px;
  text-align: end;
  font-family: "Abel", sans-serif;
  font-size: $text-xl;
  @media (max-width: $mobile) {
    text-align: start;
    width: 140px;
  }
}

.sub_description {
  font-size: $rounded-xl;
  text-align: end;
  padding-top: 3px;
  width: 180px;
  height: auto;
  color: var(--dynamic-text);
  word-break: normal;
  line-break: strict;
  overflow-wrap: anywhere;
  @media (max-width: $mobile) {
    text-align: left;
    width: 140px;
  }
}

.line {
  border-left: 1px solid;
  color: var(--dynamic-text);
  margin: 10px 0;
  padding: 0;
  height: 245px;
  @media (max-width: $mobile) {
    border-left: none;
    border-top: 1px solid;
    margin: 0 10px;
    height: 3px;
  }
}

.context_right {
  display: flex;
  margin: 10px auto;
  line-height: 145%;
  width: 300px;
  height: 255px;
  overflow-y: auto;
  // スクロールバーのデザイン
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }
  @media (max-width: $mobile) {
    position: relative;
    margin: 0;
    width: 340px;
    height: 290px;
    padding: 10px;
  }
}

.decoration_number {
  margin: 0 8px;
  width: 18px;
  text-align: end;
  color: var(--dynamic-text);
  line-height: 145%;
}

.context_text_right {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  @media (max-width: $mobile) {
    margin-bottom: 16.5px;
  }
}

.release {
  color: var(--dynamic-text);
}

.main_description {
  width: 240px;
  color: var(--dynamic-text);
  word-break: normal;
  line-break: strict;
  overflow-wrap: anywhere;
}

.link_context {
  margin-top: auto;
}
.link {
  color: var(--dynamic-text);
  text-decoration: underline;
  width: fit-content;
}

.git {
  color: var(--dynamic-text);
  display: flex;
}
