@use "@/styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

.wrapper {
  width: 530px;
  height: 310px;
  background-color: var(--product-background-color);
  z-index: 0;
  font-family: "Abel", "Zen Kaku Gothic New", sans-serif;

  @media (max-width: $mobile) {
    width: 340px;
    height: 490px;
  }
}

.head_line {
  border-bottom: 1px solid #fff;
  background-color: black;
  text-decoration: underline;
  margin: 0;
  height: 25px;
}

.context {
  display: flex;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.context_left {
  position: relative;
  width: 220px;
  @media (max-width: $mobile) {
    width: 340px;
    height: 190px;
  }
}

.square {
  width: 120px;
  height: 120px;
  margin: 30px 0 0 33px;
  position: absolute;
  background: rgba($color: #f1f1f1, $alpha: 0.2);
  z-index: 1;
  @media (max-width: $mobile) {
    width: 135px;
  }
}

.product_image {
  margin: 2.5rem 2.7rem;
  width: 100px;
  height: 100px;
  object-fit: cover;
  z-index: 100;
  @media (max-width: $mobile) {
    width: 115px;
  }
}

.title {
  font-size: large;
  color: #ffffff;
  position: absolute;
  right: 20px;
  bottom: 110px;
  width: 120px;
  text-align: end;
  font-family: "Abel", sans-serif;
  font-size: $text-2xl;
  @media (max-width: $mobile) {
    right: 50px;
    bottom: 0px;
    top: 40px;
    text-align: start;
  }
}

.sub_description {
  font-size: $rounded-xl;
  text-align: end;
  margin: -10px 0 0px 40px;
  padding: 0;
  width: 120px;
  height: auto;
  color: #f1f1f1;
  word-break: break-all;
  overflow-wrap: break-word;
  @media (max-width: $mobile) {
    text-align: left;
    position: absolute;
    right: 20px;
    bottom: 0;
    top: 50px;
  }
}

.line {
  border-left: 1px solid #fff;
  margin: 10px 0;
  padding: 0;
  height: 245px;
  @media (max-width: $mobile) {
    border-left: none;
    border-top: 1px solid #fff;
    margin: 0 10px;
    height: 3px;
  }
}

.context_right {
  display: flex;
  margin: 10px auto;
  width: 300px;
  height: fit-content;
  line-height: 145%;
  @media (max-width: $mobile) {
    position: relative;
    margin: 0;
    width: 340px;
    height: 290px;
    padding: 10px;
  }
}

.decoration_number {
  margin: 0 8px;
  width: 18px;
  text-align: end;
  color: #f1f1f1;
  line-height: 145%;
}

.context_text_right {
  margin: 0 10px;
}

.release {
  color: red;
}

.main_description {
  width: 200px;
  color: #f1f1f1;
  word-break: break-all;
  overflow-wrap: break-word;
}

.link {
  color: #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  width: fit-content;
}

.git {
  color: #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  width: fit-content;
}
