@use '@/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    font-size: $text-2xl;
    font-weight: bold;
  }

  .body {
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 40px;
    }
  }
}
