@use '@/styles/variables' as *;

.wrapper {
  width: 100%;
  margin: 10px;
}

.button_context {
  display: flex;
  gap: 10px;
}

.button_all,
.button_web,
.button_game,
.button_mobile {
  box-shadow:$shadow;
  padding: 8px 16px;
  border-radius: $rounded-lg;
  background-color: white;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }

  &.active {
    background-color: black;
    color: white;
  }
}

.productions {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; // flexの子要素を折り返すように設定
    gap: 24px; // 要素間の間隔を設定
  }
  
