@use '@/styles/variables' as *;

.wrapper {
  width: 100%;
  margin: auto;
}

.button_context {
  display: flex;
  gap: 8px;
}

.button {
  box-shadow:$shadow;
  padding: 8px 16px;
  border-radius: $rounded-lg;
  background-color: white;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }

  &.active {
    background-color: black;
    color: white;
  }
}

.productions {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap; 
    gap: 24px; 
  }


  @media (max-width: $mobile) {
    .button_context{
      justify-content: center;
    }

    .productions {
      justify-content: center;
    }
    
  }
  
