@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h2 {
    font-size: $text-2xl;
    font-weight: bold;
  }

  .body {
    display: grid;
    justify-content: center;
    gap: 16px;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 824px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 32px 24px;
    }
  }
}
