@use "@/styles/variables" as *;

.floatingBanner {
  position: fixed;
  bottom: 20px;
  right: 0;
  width: 40px;
  height: 200px;
  background-color: #ff9e9e;
  border-top-left-radius: $rounded-3xl;
  border-bottom-left-radius: $rounded-3xl;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  border-top: 3px solid #ff7070;
  border-left: 3px solid #ff7070;
  border-bottom: 3px solid #ff7070;
  @media (max-width: $mobile) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 40px; /* 高さはお好みで調整してください */
    flex-direction: row; /* 横並びに変更 */
    justify-content: center;
    align-items: center;
    /* ここでは、すべての辺に枠線を付ける例です。必要に応じて個別に設定してください */
    border-top: 3px solid #ff7070;
    border-left: 3px solid #ff7070;
    border-right: 3px solid #ff7070;
    border-top-left-radius: $rounded-3xl;
    border-top-right-radius: $rounded-3xl;
    border-bottom-left-radius: 0px;
    border-bottom: none;
  }
}

.decoration_top {
  width: 20px;
  margin-bottom: 12px;
  @media (max-width: $mobile) {
    margin-bottom: 0;
    margin-right: 12px;
    transform: rotate(270deg);
  }
}

.decoration_bottom {
  display: none;
  width: 20px;
  @media (max-width: $mobile) {
    display: block;
    margin-bottom: 0;
    margin-left: 12px;
    transform: rotate(90deg);
  }
}

.text {
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: $text-base;
  padding-bottom: 12px;
  color: #fff;
  margin-right: 2px; /* キモいけどテキストを中央寄せするため */
  @media (max-width: $mobile) {
    writing-mode: horizontal-tb;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: 0px;
  }
}
