@use "./variables" as *;
@import "destyle.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@mixin mobile {
  @media only screen and (max-width: $pc) {
    @content;
  }
}

main {
  padding-top: 74px;
  @include mobile {
    padding-top: 58px;
  }
}

body {
  background-color: $background;
  line-height: normal;
  font-family:
    Avenir,
    hiragino kaku gothic pro,
    sans-serif;
  min-height: 100vh;
}

.Header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.inner-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: transparent;
  --fc-button-hover-border-color: transparent;
  --fc-button-active-bg-color: transparent;
  --fc-button-active-border-color: transparent;
}
