@use "./variables" as *;
@import "destyle.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: $background;
  line-height: normal;
  font-family: hiragino-kaku-gothic-pron, sans-serif;
}
