@use '@/styles/variables' as *;


.wrapper {
    background: linear-gradient($white, $background);
    padding: 32px 80px;
    align-items: center;

    @media screen and (max-width: $mobile) {
        padding: 16px 24px;
        // tabletの時
        // padding: 16px 32px
    }

    .heading1 {
        color: $primary;
        font-size: $text-5xl;
        font-weight: bold;
        font-family: "Oxanium";

        @media screen and (max-width: $mobile) {
            font-size: 32px;
        }

    }

    .page {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: $text-base;
        margin-top: 16px;

        @media screen and (max-width: $mobile) {
            margin-top: 8px;
        }
    }

    .toppage {
        color: $link;
        font-size: $text-base;
        text-decoration: underline solid $link;
    }


}