@use "@/styles/variables" as *;

.wrapper {
  background-color: $white;
  padding: 0;
  width: 352px;
  height: 456px;
  align-items: center;
  border-radius: $rounded-lg;
  box-shadow: $shadow-sm;
}

.item_context {
  padding: 16px 24px;
}

.item_img {
  width: 352px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: $rounded-lg;
  border-top-right-radius: $rounded-lg;
}

.title {
  text-align: center;
  font-weight: 600;
}

.text {
  padding: 16px 0;
  font-size: $text-base;
}

.tag {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
