@use "@/styles/variables" as *;

.wrapper {
  background-color: $white;
  padding: 0;
  width: 352px;
  height: 100%;
  align-items: center;
  border-radius: $rounded-lg;
  box-shadow: $shadow-sm;
  overflow: hidden;
}

.item_context {
  padding: 16px 24px;
}

.item_image_wrapper {
  position: relative;
  width: 352px;
  height: 200px;
  overflow: hidden;
}

.bg_blur_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.bg_blur {
  object-fit: cover;
  filter: blur(40px) brightness(1.1);
  opacity: 0.6;
}

.item_img {
  object-fit: contain;
}

.title {
  text-align: center;
  font-weight: 600;
}

.text {
  padding: 16px 0;
  font-size: $text-base;
}

.moreButton {
  border-bottom: 1px solid $black;
}

.tag {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
