@use '@/styles/variables' as *;

.carousel {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;

  
  .slideWithButton {
    display: flex;
    justify-content: center;
    align-items: center;

    .viewport {
			width: 600px;
			height: auto;


      @media (max-width: $mobile) {
        width: 100%;
			  height: auto;
      }
	
			.container {
					display: flex;
          width: 610px;
			}
    }
	}
  
  .slide {
    flex: 0 0 auto;
    justify-content: center;
    width: 100%;
    position: relative;
    padding:40px;
    @media (max-width: $mobile) {
      padding: 30px;
    }

  }

  .button {
    position: relative;
    z-index: 1;
    width: 64px;
    height: 64px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $mobile) {
      display: none;
    }
  }

  .dots {
    display: flex;
    justify-content: center;
  }

  .dot {
    background-color: $primary;
    opacity: 0.5;
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    cursor: pointer;

    @media (max-width: $mobile) {
      width: 14px;
      height: 14px;
      margin: 0 4px;
    }

    &Active {
      background-color: $primary;
      opacity: 1;
    }
  }
}