@use '@/styles/variables' as *;

.carousel {
  position: relative;
  width: fit-content;
  margin: 0 auto;

  
  .slideWithButton {
    display: flex;
    justify-content: center;
    align-items: center;

    .viewport {
			width: 600px;
			height: 360px;
      margin: 0 8px 16px 8px;


      @media (max-width: $mobile) {
        width: 320px;
			  height: 192px;
        margin: 0 8px 9px 8px;
      }
	
			.container {
					display: flex;
			}
    }
	}
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    padding: 0 20px 0 20px;
  }

  .button {
    position: relative;
    z-index: 1;
    width: 64px;
    height: 64px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dots {
    display: flex;
    justify-content: center;
  }

  .dot {
    background-color: $primary;
    opacity: 0.5;
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    cursor: pointer;

    @media (max-width: $mobile) {
      width: 14px;
      height: 14px;
      margin: 0 4px;
    }

    &Active {
      background-color: $primary;
      opacity: 1;
    }
  }
}