@use "@/styles/variables" as *;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 64px 0px;
  width: 100%;
  @media (max-width: $pc) {
    margin: 32px 0px;
  }

  @media (max-width: $mobile) {
    margin: 24px 0;
  }
}

.page {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: $text-base;
  margin-left: 0;
  width: 100%;
  max-width: calc(848px + 260px + 16px);
  margin-bottom: 32px;
  @media (max-width: 1150px) {
    margin-left: 2rem;
  }
}

.gotopage {
  color: $link;
  font-size: $text-base;
  text-decoration: underline solid $link;
}

.article {
  display: flex;
  align-items: flex-start;
}
