@use '@/styles/variables' as *;

.all_products{
    margin:5rem;
}

.line{
    border:solid $primary 1px;
    margin : 4rem
}


@media (max-width: $mobile) {

    .line{
        margin : 2rem
    }
    .all_products {
        margin: 1rem;
    }
    
  }