@use "@/styles/variables" as *;
@font-face {
  font-family: "CP Revenge";
  src: url("/CP_Revenge.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "k-font";
  src: url("/keifont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  width: 100%;

  .catchcopyWrapper {
    background: linear-gradient(to bottom, $white 75%, $background);
    width: 100%;
  }
  .catchcopyContainer {
    max-inline-size: max-content; //左揃えで中央配置
    margin-inline: auto; //左揃えで中央配置
    padding-top: 170px;
    padding-left: 150px;
    @media screen and (max-width: $mobile) {
      padding-top: 70px;
      padding-left: 50px;
    }
  }
  .line {
    font-size: $text-9xl;
    font-family: "CP Revenge";

    display: flex;
    align-items: center;
    margin-bottom: 70px;
    @media screen and (max-width: $mobile) {
      font-size: $text-4xl;
      margin-bottom: 30px;
    }
  }
  .catchcopy1 {
    color: #ffce8e;
    position: relative;
    @media screen and (max-width: $mobile) {
      // font-size: $text-6xl;
    }
  }

  .catchcopy2 {
    color: #ffb84e;
    position: relative;
  }

  .catchcopy3 {
    color: #ff9900;
    position: relative;
  }

  .textGray {
    color: #c8c6c6;
    @media screen and (max-width: $mobile) {
      font-size: $text-3xl;
    }
  }
  .commentIcon {
    position: absolute;
    right: 0;
    top: -150px;
    @media screen and (max-width: $mobile) {
      width: 50px;
      height: 50px;
      top: -50px;
    }
  }
  .dennkyuuIcon {
    position: absolute;
    transform: translate(-100%, -100%);
    @media screen and (max-width: $mobile) {
      width: 50px;
      height: 50px;
    }
  }
  .PCicon {
    position: absolute;
    transform: translate(100%, -90%);
    right: 0;
    @media screen and (max-width: $mobile) {
      width: 50px;
      height: 50px;
      transform: translate(120%, -90%);
    }
  }

  .jack {
    font-size: $text-8xl;
    font-family: "k-font";
    color: #ff9900;
    position: absolute;
    right: 0;
    transform: translate(500%, -50%);
    @media screen and (max-width: $mobile) {
      font-size: $text-3xl;
      transform: translate(400%, -50%);
    }
  }
  .line3 {
    display: flex;
    padding-bottom: 32px;
  }

  .mark {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  @media screen and (max-width: $mobile) {
    .mark img {
      width: 40px;
      height: 40px;
    }
  }

  .topContainer {
    width: 90%;
    margin: auto;
    padding-top: 32px;
    @media screen and (max-width: $mobile) {
      padding-top: 24px;
    }
  }

  .dekirukotoContainer {
    padding-left: 64px;
    padding-right: 64px;
    @media screen and (max-width: $mobile) {
      padding: 0px;
    }
  }

  .textDot {
    font-family: "DotGothic16";
    font-size: $text-6xl;
    padding-top: 64px;
    @media screen and (max-width: $mobile) {
      font-size: $text-xl;
      padding-top: 24px;
      padding-bottom: 24px;
      font-weight: 1000;
    }
  }

  .textDetail {
    font-size: $text-2xl;
    font-weight: 1000;
    @media screen and (max-width: $mobile) {
      font-size: $text-lg;
      font-weight: 500;
    }
  }

  .dekirukotoPhoto {
    margin-left: 64px;
    @media screen and (max-width: $mobile) {
      width: 200px;
      height: 200px;
      margin: auto;
    }
  }
  .dekirukoto {
    display: flex;
    align-items: center;
    gap: 64px;
    @media screen and (max-width: $mobile) {
      display: contents;
    }
  }
  .text3xl {
    font-size: $text-3xl;
    font-weight: 1000;
    padding-top: 32px;
    padding-bottom: 32px;
    @media screen and (max-width: $mobile) {
      font-size: $text-xl;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .textBlue {
    color: $link;
    border-bottom: 3px solid $link;
  }
  .jackPhoto {
    margin-left: 40px;
    @media screen and (max-width: $mobile) {
      margin: auto;
      padding-top: 24px;
    }
  }
  .activitiesContainer {
    display: flex;
    padding: 64px 64px 40px;
    @media screen and (max-width: $mobile) {
      display: contents;
    }
  }
  .link {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 64px;
    @media screen and (max-width: $mobile) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .PClink {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 64px;
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
  .mobileLink {
    display: none;
    @media screen and (max-width: $mobile) {
      display: flex;
      justify-content: center;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .membersContainer {
    padding: 64px;
    @media screen and (max-width: $mobile) {
      padding: 0px;
      padding-top: 24px;
    }
  }
  .membersList {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
    @media screen and (max-width: $mobile) {
      padding-top: 24px;
      padding-bottom: 0px;
    }
  }
  .membersName {
    font-size: $text-3xl;
    text-align: center;
    @media screen and (max-width: $mobile) {
      font-size: $text-sm;
    }
  }
  .member {
    padding-left: 18px;
    padding-right: 18px;
    @media screen and (max-width: $mobile) {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
  .textDetailCenter {
    font-size: $text-2xl;
    font-weight: 1000;
    text-align: center;
    @media screen and (max-width: $mobile) {
      font-size: $text-xl;
      font-weight: 500;
    }
  }
  .productsContainer {
    padding: 64px;
    display: flex;
    @media screen and (max-width: $mobile) {
      padding: 0;
      padding-top: 24px;
      display: block;
    }
  }
  .production {
    width: 50px;
    margin-left: 64px;
    @media screen and (max-width: $mobile) {
      //   width: calc(100% - 500px);
      //   width: 50vw;
      width: 100px;
      //   flex-basis: 200px; /* 初期の幅は300px */
      //   flex-grow: 1; /* 残りのスペースを均等に分ける */
      margin-left: 0px;
      margin-top: 24px;
    }
  }

  .blogContainer {
    padding: 64px;
    @media screen and (max-width: $mobile) {
      padding: 0;
      padding-top: 24px;
    }
  }
  .text3xlCenter {
    text-align: center;
    font-size: $text-3xl;
    font-weight: 1000;
    padding-top: 32px;
    padding-bottom: 32px;
    @media screen and (max-width: $mobile) {
      font-size: $text-xl;
    }
  }
  .articles {
    display: flex;
    width: 730px;
    margin: auto;
    gap: 24px;
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
  .article {
    display: none;
    @media screen and (max-width: $mobile) {
      display: block;
    }
  }
  .calendarContainer {
    padding: 64px;
    display: flex;
    @media screen and (max-width: $mobile) {
      display: contents;
    }
  }
  .calendarText {
    font-size: $text-2xl;
    @media screen and (max-width: $mobile) {
      font-size: $text-lg;
      text-align: center;
      padding-top: 24px;
    }
  }
  .calendarTextDetail {
    font-size: $text-2xl;
    padding-top: 32px;
    padding-bottom: 40px;
    @media screen and (max-width: $mobile) {
      font-size: $text-lg;
      text-align: center;
    }
  }
  .calendarText3xl {
    font-size: $text-3xl;
    font-weight: 1000;
    @media screen and (max-width: $mobile) {
      font-size: $text-lg;
    }
  }
  .textOrange {
    font-size: $text-3xl;
    font-weight: 1000;
    color: $primary;
    @media screen and (max-width: $mobile) {
      font-size: $text-lg;
    }
  }

  .calendar {
    width: 560px;
    height: 498px;
    @media screen and (max-width: $mobile) {
      width: 360px;
      height: 400px;
    }
  }
}
