@use '@/styles/variables' as *;

.heading {
  font-size: $text-base;
  color: $black;
  padding-left: 24px;
  line-height: 1.5;
  display: block;
  padding-bottom: 8px;
  cursor: pointer;
  color: #65717b;
}

.active {
  font-weight: bold;
  color: $black;
}