@use "@/styles/variables" as *;

.container {
  position: relative;
  height: calc(100vh - 74px - 221px); // 74px: header height, 221px: footer height
  @media (max-width: $mobile) {
    height: calc(100vh - 58px - 278px); // 58px: header height, 278px: footer height
  }
}

.img404 {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
