@use '@/styles/variables' as *;

.faq {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 64px 80px;
    margin: 0 auto;
    max-width: calc(1280px + 160px);
    @media screen and (max-width: $mobile){
        gap: 24px;
        padding: 32px 24px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    @media screen and (max-width: $mobile){
        gap: 8px;
    }
}