@use '@/styles/variables' as *;

.faq {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin: 64px 80px;
    @media screen and (max-width: $mobile){
        gap: 24px;
        margin: 32px 24px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    @media screen and (max-width: $mobile){
        gap: 8px;
    }
}