@use '@/styles/variables' as *;

.embla {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
  
    &__viewport {
      overflow: hidden;
      width: 100%;
    }
  
    &__container {
      display: flex;
    //   user-select: none;
    //   -webkit-touch-callout: none;
    //   -khtml-user-select: none;
    //   -ms-touch-action: pan-y;
    //   touch-action: pan-y;
    }
  
    &__slide {
      flex: 0 0 auto;
      width: 100%;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  
    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
  
    &__button {
      position: relative;
      z-index: 1;
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.7);
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  
      svg {
        width: 24px;
        height: 24px;
        fill: #333;
      }
  
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  
    &__dots {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
  
    &__dot {
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      cursor: pointer;
  
      &--selected {
        background-color: #333;
      }
  
      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
      }
    }
  }