@use '@/styles/variables' as *;

.carousel {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  
  .slideWithButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .viewport {
			overflow: hidden;
			width: 600px;
			height: 360px;
	
			.container {
					display: flex;
					// user-select: none;
					// -webkit-touch-callout: none;
					// -khtml-user-select: none;
					// -ms-touch-action: pan-y;
					// touch-action: pan-y;
			}
    }
	}


  .slide {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    // img {
    //   display: block;
    //   width: 100%;
    //   height: auto;
    // }
  }

  .button {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .dot {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;

    &Active {
      background-color: #333;
    }

    // .sr-only {
    //   position: absolute;
    //   width: 1px;
    //   height: 1px;
    //   padding: 0;
    //   margin: -1px;
    //   overflow: hidden;
    //   clip: rect(0,0,0,0);
    //   border: 0;
    // }
  }
}