@use '@/styles/variables' as *;

.carousel {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .carouselContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        overflow: hidden;


        .carouselControlPrev,
        .carouselControlNext {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .carouselControlIcon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: transparent no-repeat center center;
            background-size: 100% 100%;
        }

        .carouselControlPrevIcon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
        }

        .carouselControlNextIcon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }

        .carouselImageContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .carouselImages {
            display: flex;
            transition: transform 0.5s ease-in-out;

            .carouselImage {
                flex: 0 0 100%;
                max-width: 100%;
                max-height: 100%;
                opacity: 1;
            }
        }
    }

    .carouselRadioButtons {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .carouselRadioButton {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ccc;
            margin: 0 5px;
            cursor: pointer;

            &.active {
                background-color: #333;
            }
        }
    }
}