@use "@/styles/variables" as *;
.wrapper {
  background-color: transparent;
  margin: 0;
  height: auto;
  width: 100%;
  display: flex;
  @media screen and (max-width: $pc) {
    flex-flow: column;
    align-items: center;
  }

  .card_photo {
    width: 270px;
    margin: 0;
    padding: 0;
    position: relative;
    flex: none;
  }

  .photo {
    object-fit: cover;
    width: 244px;
    height: 244px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    @media screen and (max-width: $pc) {
      position: relative;
    }
  }

  .square {
    margin: auto;
    width: 244px;
    height: 244px;
    background: linear-gradient(to bottom, #ffffff00, #c4c4c4);
    top: 12px;
    right: 12px;
    position: absolute;
    z-index: -1;
  }

  .card {
    margin: 0 0 0 24px;
    flex: auto;
  }

  .card_header_wrapper {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: $pc) {
      padding-top: 8px;
      gap: 0;
    }
  }

  .card_header {
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid $primary;
    padding-bottom: 16px;
    position: relative;
    width: 100%;
    gap: 16px;
    @media screen and (max-width: $pc) {
      flex-flow: column;
      align-items: start;
      padding-top: 8px;
      padding-bottom: 5px;
      gap: 4px;
    }
  }

  .job {
    background-color: $primary;
    color: white;
    font-size: $text-sm;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: bold;
    width: fit-content;
  }

  .name {
    padding: 0;
    font-size: $text-4xl;
    @media screen and (max-width: $mobile) {
      font-size: $text-xl;
    }
  }

  .type {
    color: $primary;
    font-size: $text-lg;
    @media screen and (max-width: $mobile) {
      font-size: $text-base;
      padding: 0;
    }
  }
  .text {
    padding: 16px 0;
    font-size: $text-base;
    line-height: 200%;
    width: 100%;
  }
}
